:root {
  --slidev-slide-container-background: radial-gradient(circle at 40% 30%,rgb(235,243,249),rgb(214,222,228)) ;
}

html.dark,
html:not(.dark) {
  #slide-content {
    color: #4A4A55;
    --tw-bg-opacity: 0;

    ul {
      list-style: disc;
    }
  }

  .slides-overview {
    #slide-content {
      background-color: #F9FBFC;
    }
  }
}

